:root {
  --index: calc(0.8vw + 1vh);
  --body-back: #171717;
  --color1: #080c25;
  --color2: #161e35;
  --color3: #293659;
  --color4: #3071e7;
  --color5: #a6b2ec;
  --color-text: #fdfff5;
  --color-body: #f4f6fb;
}
@font-face {
  font-family: "Manrope-Light";
  src: url("fonts/manrope/Manrope-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Manrope-Regular";
  src: url("fonts/manrope/Manrope-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Manrope-Medium";
  src: url("fonts/manrope/Manrope-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "Manrope-Bold";
  src: url("fonts/manrope/Manrope-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Manrope-ExtraBold";
  src: url("fonts/manrope/Manrope-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "Mjunegull-regular";
  src: url("fonts/junegull-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Library3amsoft";
  src: url("fonts/Library3amsoft.woff2") format("woff2");
}
* {
  margin: 0px;
  box-sizing: border-box;
  font-family: "Manrope-Regular";
  color: var(--color-text);
}
body {
  background-color: var(--body-back);
  width: 100%;
  max-width: 100vw;
  background-color: var(--color-body);
  overflow-x: hidden;
}
.hellocontent2 {
  display: none;
}
.hellocontent {
  display: block;
}
::-webkit-scrollbar {
  width: 1.2vw;
}
/* ::-webkit-scrollbar-track{
  
} */
::-webkit-scrollbar-thumb {
  background-color: rgb(48, 113, 231, 0.5);
  border-radius: 1vw;
  border: solid 0.3vw white;
  transition: all 0.2s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #6a94e0;
}
.maindiv {
  width: 100%;
}
.hellodiv {
  position: relative;
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.helloimg {
  object-fit: cover;
  object-position: top left;
  width: 100%;
  top: 0px;
  left: 0;
}

.blackoutdiv {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: radial-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.7));
  /* background-color: rgb(0, 0, 0, 0.58); */
}

/* .hellocontent2{
  display: none;
} */
.hellocontent {
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
}
.headerdiv {
  display: flex;
  justify-content: space-between;
  height: 5vw;
  width: 100%;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(to bottom, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0));
  /* background: linear-gradient(black , transparent); */
}
.headerdiv.fixed-top {
  position: relative;
  position: fixed;
  background: none;
  background-color: white;
  /* background-color: transparent;
  backdrop-filter: blur(30px); */
  box-shadow: 0 0 1vw 0vw rgb(0, 0, 0, 0.1);
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}
.headerdiv.fixed-top a,
.headerdiv.fixed-top span {
  color: var(--color2);
}
.headerlogodiv {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  width: auto;
  overflow: hidden;
}
.logoimg {
  height: 100%;
  padding: 0.3vw 1vw;
  justify-self: center;
}
.headerinfodiv {
  display: flex;
  align-items: center;
  margin-left: 14vw;
}
.headerinfodiv a {
  margin-right: 2vw;
  font-size: 1.2vw;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.headerinfodiv a:hover {
  color: var(--color5);
}
.accautdiv {
  height: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-right: 1.5vw; */
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  transition: all 0.3s ease-in-out;
}
.accautdiv:hover > .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.accounticon {
  font-size: 2.2vw;
  transition: all 0.3s ease-in-out;
}
#accountspan {
  font-size: 1vw;
  transition: all 0.3s ease-in-out;
}

.accautdiv:hover > .accounticon,
.accautdiv:hover > #accountspan {
  color: var(--color5);
}
.mainhellocontent {
  position: relative;
  height: auto;
  width: auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin-top: 8vw;
  margin-left: 4vw;
  margin-right: 45vw;
  padding-bottom: 0.5vw;
  transition: all 0.4s ease-in-out;
  /* box-shadow: 0 0 3vw 3vW rgb(0, 0, 0, 0.4); */
  border-radius: 1vw;
}
.blackback {
  position: absolute;
  border-radius: 1vw;
  height: 100%;
  width: 100%;
  background: black;
  z-index: -1;
  opacity: 0.4;
}
.mainhellocontent .headerp {
  padding-left: 1vw;
  font-size: 4vw;
  font-family: "Manrope-Bold";
  text-shadow: 0 0 3vw rgb(0, 0, 0, 1);
  line-height: 4.5vw;
}
.mainhellocontent .headerp2 {
  margin-top: 3vw;
  margin-bottom: 2vw;
  margin-left: 1vw;
  font-size: 1.5vw;
  text-shadow: 0 0 0.5vw rgb(0, 0, 0, 1);
}
.headeruserdiv {
  display: flex;
}
.maincontent .conteiner1 {
  background-image: url(image/gradientphone.jpg);
  /* opacity: 0.5; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* height: 80vh; */
  height: 110vh;
  width: 100%;
  margin-bottom: 5vw;
  margin-top: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .maincontent .conteiner1 .a1{
} */
.maincontent .conteiner1 .b1 {
  display: flex;
  flex-direction: column;
}
.maincontent .conteiner1 .b2 {
  display: flex;
}
.maincontent .conteiner1 .b1 .headingp {
  font-size: 3vw;
  color: white;
  font-family: "Mjunegull-regular";
  align-self: center;
  margin-bottom: 5vw;
}
.maincontent .conteiner1 .b2 .c1 {
  display: flex;
  height: 20vw;
  aspect-ratio: 1/1;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 0 1vw;
}
.maincontent .conteiner1 .b2 .c1 .p1 {
  font-family: "Mjunegull-regular";
  color: white;
  font-size: 5vw;
  text-align: center;
}
.maincontent .conteiner1 .b2 .c1 .p2 {
  font-family: "Mjunegull-regular";
  color: white;
  font-size: 1.5vw;
  text-align: center;
}
.maincontent .heading {
  width: 100%;
  padding: 0 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.maincontent .heading .headingp {
  color: #333333;
  font-size: 2.2vw;
  font-family: "Manrope-Medium";
  width: 100%;
  text-align: center;
  margin-bottom: 1vw;
}
.maincontent .heading .headingp2 {
  color: #7e7e7e;
  font-size: 1.2vw;
  font-family: "Manrope-Medium";
  width: 100%;
  text-align: center;
  margin-bottom: 2vw;
}
.maincontent {
  height: auto;
}
.container2 {
  height: 100px;
  width: 100%;
  position: relative;
}
.container2 .a1 {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  animation: scrolling 10s linear infinite;
  animation-play-state: running;
}
.container2 img {
  height: 100%;
}
.container22 {
  height: 100px;
  width: 100%;
  position: relative;
}
.container22 .a1 {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  animation: scrolling 10s linear infinite;
  animation-play-state: running;
}
.container22 img {
  height: 100%;
}
@keyframes scrolling {
  0% {
    transform: translateX(0, 0);
  }
  100% {
    transform: translateX(-50%, 0);
  }
}
.container2 {
  height: 15vw;
  position: relative;
  overflow: hidden;
  margin-bottom: 1vw;
}

.photobanner {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  /* animation: bannermove 150s linear infinite; */
}
.container2 .banner1 {
  animation: bannermove 140s linear infinite;
}
.container2 .banner2 {
  animation: bannermove2 100s linear infinite;
}
.container2 .banner3 {
  animation: bannermove 190s linear infinite;
}

.photobanner img {
  border-radius: 0.5vw;
  margin: 0 0.5vw;
  height: 100%;
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes bannermove2 {
  0% {
    transform: translate(-77%, 0);
  }
  100% {
    transform: translate(-26.9%, 0);
  }
}
.container32 {
  display: none;
}
.container3 {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.container3 .a1,
.container3 .a2 {
  display: flex;
  /* aspect-ratio: 3.5/1; */
  height: 30vw;
  width: 100%;
}
.container3 .b1,
.container3 .b2 {
  aspect-ratio: 2/1;
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.container3 .image1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.5s ease-in-out;
  opacity: 0.48;
  top: 0;
  left: 0;
}
.container3 .div:hover + .image1 {
  transform: scale(1.2);
}
.container3 .b1 .div,
.container3 .b2 .div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.container3 .b1 .div img,
.container3 .b2 .div img {
  width: 50%;
}
.container3 .heading {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3vw;
  margin-top: 4vw;
}
.container3 .heading .headingp {
  color: #333333;
  font-size: 2.5vw;
  font-family: "Manrope-Medium";
}
.container3 .a1 .description,
.container3 .a2 .description {
  position: absolute;
  display: flex;
  z-index: 1;
  top: 100%;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition-delay: 1s;
  transition: all 0.5s ease-out;
  opacity: 0;
  text-align: center;
  padding: 0 3vw;
  cursor: pointer;
}
.container3 .a1 .description .p1,
.container3 .a2 .description .p1 {
  z-index: 1;
  font-size: 2vw;
  padding-top: 5%;
  margin-bottom: 0.5vw;
  font-family: "Manrope-Bold";
}
.container3 .a1 .description .p2,
.container3 .a2 .description .p2 {
  z-index: 1;
  font-size: 1.2vw;
  margin-bottom: 2vw;
  font-family: "Manrope-Medium";
}
.container3 .a1 .description .p4,
.container3 .a2 .description .p4 {
  z-index: 1;
  font-size: 1vw;
  opacity: 0.7;
  margin-top: 10vw;
}
.container3 .a1 .description .p3,
.container3 .a2 .description .p3 {
  font-size: 1.2vw;
}
.container3 .a1 .b1:hover .description,
.container3 .a2 .b1:hover .description,
.container3 .a1 .b2:hover .description,
.container3 .a2 .b2:hover .description {
  top: 0;
  opacity: 1;
}
.container3 .a1 .b1:hover .div img,
.container3 .a2 .b1:hover .div img,
.container3 .a1 .b2:hover .div img,
.container3 .a2 .b2:hover .div img {
  /* transform: translateY(-100%); */
  /* padding-top: 50%; */
  z-index: 1;
  transform: scale(0.8);
  opacity: 0;
}
.container3 .a1 .b1:hover .image1,
.container3 .a2 .b1:hover .image1,
.container3 .a1 .b2:hover .image1,
.container3 .a2 .b2:hover .image1 {
  transform: scale(1.2);
}
.footer {
  margin-top: 5vw;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 5vw 0;
}
.footer-col {
  width: 25%;
  padding: 0 1vw;
}
.footer-col h4 {
  font-size: 1.2vw;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 2.36vw;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.7vw;
  background-color: #6a94e0;
  height: 0.14vw;
  box-sizing: border-box;
  width: 3.5vw;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 0.7vw;
}
.footer-col ul li a {
  font-size: 1.08vw;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 0.54vw;
}
.footer-col .social-links a {
  display: inline-block;
  height: 2.7vw;
  width: 2.7vw;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 0.7vw 0.7vw 0;
  text-align: center;
  line-height: 2.7vw;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 51vw) {
  .footer-col {
    width: 50%;
    margin-bottom: 2.03vw;
  }
}
@media (max-width: 38.8vw) {
  .footer-col {
    width: 100%;
  }
}
.blurback {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 6;
}
.blackoutback {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
}
.login-logout {
  position: absolute;
  height: calc(var(--index) * 25);
  aspect-ratio: 2/1.3;
  display: flex;
  background-color: white;
  border-radius: calc(var(--index) * 1.5);
  overflow: hidden;
  box-shadow: 0 0 2vw rgb(0, 0, 0, 0.2);
}
.login-logout * {
  color: #333333;
}
.login-logout .a1,
.login-logout .a2 {
  width: 50%;
  height: 100%;
}
.login-logout .a1 {
  background-image: url(https://pro-dachnikov.com/uploads/posts/2021-10/1634632067_4-p-krasivie-letnie-verandi-foto-4.jpg);
  background-size: cover;
}
.login-logout .a2 {
  display: flex;
  flex-direction: column;
  padding: calc(var(--index) * 1.4);
}
.login-logout .a2 .b1 {
  width: 100%;
  display: flex;
  justify-content: end;
  font-size: calc(var(--index) * 1);
  cursor: pointer;
}
.login-logout .a2 .b1 span {
  font-size: calc(var(--index) * 1.7);
  background-color: transparent;
  border-radius: 100%;
}
.login-logout .a2 .b1 span:hover {
  background-color: rgb(227, 227, 227);
}
.login-logout .a2 .b2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-logout .a2 form {
  margin-top: calc(var(--index) * 1);
}
.login-logout .a2 .b2 h1 {
  font-size: calc(var(--index) * 1.6);
  margin-bottom: calc(var(--index) * 0.3);
}
.login-logout .a2 form h3 {
  font-size: calc(var(--index) * 0.8);
  margin-bottom: calc(var(--index) * 0.25);
}
.login-logout .a2 form input {
  font-size: calc(var(--index) * 0.9);
  height: calc(var(--index) * 2);
  border-radius: calc(var(--index) * 0.25);
  border-style: double;
  border-width: 1px;
  padding: calc(var(--index) * 0) calc(var(--index) * 1);
  margin-bottom: calc(var(--index) * 0.6);
  width: 100%;
  outline: none;
}
.login-logout .a2 form input:focus {
  border-color: var(--color4);
  border-width: 2px;
}
.login-logout .a2 form .but1 {
  cursor: pointer;
  border-radius: calc(var(--index) * 0.25);
  outline: none;
  border-style: double;
  border-width: 1px;
  font-size: calc(var(--index) * 0.8);
  height: calc(var(--index) * 2);
  width: 100%;
  margin-top: calc(var(--index) * 0.8);
}
.login-logout .a2 form .separator {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: calc(var(--index) * 2) 0 calc(var(--index) * 1.5) 0;
}
.login-logout form .separator .sep {
  height: 1px;
  background-color: lightgray;
  width: 80%;
}
.login-logout form .separator p {
  font-size: calc(var(--index) * 0.8);
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  background-color: white;
  z-index: 1;
  padding: 0 calc(var(--index) * 0.7);
  color: #919191;
}
.login-logout .a2 .b2 .but2 {
  cursor: pointer;
  font-size: calc(var(--index) * 0.8);
  /* height: calc(var(--index) * 1); */
  height: auto;
  width: 100%;
  background-color: transparent;
  border-width: 0;
  transition: all 0.3s ease-in-out;
}
.login-logout .a2 form .but2:hover {
  color: #3071e7;
}
.login-logout .a3 {
  display: none;
  width: 50%;
  height: 100%;
  flex-direction: column;
  padding: calc(var(--index) * 1.4);
}
.login-logout .a3 .b1  {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: calc(var(--index) * 1);
  cursor: pointer;
}
.login-logout .a3 .b1 span {
  font-size: calc(var(--index) * 1.7);
  background-color: transparent;
  border-radius: 100%;
}
.login-logout .a3 .b1 span:hover {
  background-color: rgb(227, 227, 227);
}
.login-logout .a3 .b2 h1 {
  font-size: calc(var(--index) * 1.6);
  margin-bottom: calc(var(--index) * 0.3);
}
.login-logout .a3 form {
  margin-top: calc(var(--index) * 1);
}
.login-logout .a3 form h3 {
  font-size: calc(var(--index) * 0.8);
  margin-bottom: calc(var(--index) * 0.25);
}
.login-logout .a3 form input {
  font-size: calc(var(--index) * 0.9);
  height: calc(var(--index) * 2);
  border-radius: calc(var(--index) * 0.25);
  border-style: double;
  border-width: 1px;
  padding: calc(var(--index) * 0) calc(var(--index) * 1);
  margin-bottom: calc(var(--index) * 0.6);
  width: 100%;
  outline: none;
}
.login-logout .a3 form input:focus {
  border-color: var(--color4);
  border-width: 2px;
}
.login-logout .a3 form .but1 {
  cursor: pointer;
  border-radius: calc(var(--index) * 0.25);
  outline: none;
  border-style: double;
  border-width: 1px;
  font-size: calc(var(--index) * 0.8);
  height: calc(var(--index) * 2);
  width: 100%;
  margin-top: calc(var(--index) * 0.8);
}

/* для мобильных экранов for monile */
@media screen and (max-device-width: 480px) {
  .hellocontent {
    display: none;
  }
  .hellocontent2 {
    display: block;
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  .maindiv {
    width: 100%;
  }
  .hellodiv {
    position: relative;
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
    height: 100vh;
  }
  .helloimg {
    position: relative;
    object-fit: cover;
    object-position: center center;
    height: 100%;
    top: 0;
    left: 0;
  }
  .offset {
    object-position: center left;
  }
  .blackoutdiv {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: radial-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8));
  }
  .hellocontent2 {
    position: absolute;
    z-index: 5;
    height: 100%;
    width: 100%;
  }
  .headerdiv2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 7vh;
    width: 100%;
    transition: all 0.3s ease-in-out;
    align-items: center;
    border-width: 0;
    background: linear-gradient(to bottom, rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0));
  }
  .headerlogodiv2 {
    display: flex;
    height: 100%;
    width: 100%;
    width: auto;
    overflow: hidden;
  }
  .logoimg2 {
    height: 100%;
    padding: 2vw;
    justify-self: center;
  }
  .headerdiv2.fixed-top {
    position: relative;
    position: fixed;
    background: none;
    background-color: white;
    box-shadow: 0 0 1vw 0vw rgb(0, 0, 0, 0.1);
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
  }
  .headerdiv2.fixed-top a,
  .headerdiv2.fixed-top span {
    color: var(--color2);
  }
  .divmenuspan2 {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hellomenu2 {
    font-size: 4vh;
  }
  .dropdiv2 {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 0;
    justify-self: start;
    top: 0;
    background-color: white;
    transition: height 0.3s ease-in-out, top 0.5s ease-in-out;
    overflow: hidden;
  }
  .dropdiv2 * {
    color: #333333;
  }
  .dropdiv2 .a1 {
    align-self: flex-end;
  }
  .dropdiv2 .a1 .b1 {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdiv2 .a2 {
    margin-bottom: 3vw;
    font-size: 4.2vw;
  }
  .dropdiv2 .actiondiv2 .accautdiv2 .accounticon {
    font-size: 8vw;
  }
  .dropdiv2 .actiondiv2 .accautdiv2 #accountspan {
    font-size: 4.2vw;
  }
  .actiondiv2 {
    display: flex;
    margin-top: 2.5vw;
  }
  .accautdiv2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .mainhellocontent2 {
    /* margin: 10vw; */
    margin: calc(var(--index) * 3.15);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainhellocontent2 p {
    text-align: center;
    text-shadow: 0 0 2vw rgb(0, 0, 0);
  }
  .mainhellocontent2 .headerp {
    /* font-size: 10vw; */
    font-size: calc(var(--index) * 3.15);
    font-family: "Manrope-Bold";
  }
  .mainhellocontent2 .headerp2 {
    /* font-size: 4vw; */
    font-size: calc(var(--index) * 1.4);
    margin-top: 5vw;
  }
  .maincontent .conteiner1 {
    background-image: url(image/gradientphone.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;
    width: 100%;
    margin-bottom: 5vw;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conteiner1 .a1 {
    display: flex;
    flex-direction: column;
  }
  .maincontent .conteiner1 .b1 {
    display: flex;
    flex-direction: column;
  }
  .maincontent .conteiner1 .b2 {
    display: flex;
    flex-wrap: wrap;
  }
  .maincontent .conteiner1 .b1 .headingp {
    font-size: 5vw;
    color: white;
    font-family: "Mjunegull-regular";
    align-self: center;
    margin-bottom: 5vw;
  }
  .maincontent .conteiner1 .b2 .c1 {
    flex-basis: 50%;
    margin-bottom: 5vw;
    display: flex;
    height: 20vw;
    aspect-ratio: 1/1;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0 1vw;
  }
  .maincontent .conteiner1 .b2 .c1 .p1 {
    font-family: "Mjunegull-regular";
    color: white;
    font-size: 10vw;
    text-align: center;
  }
  .maincontent .conteiner1 .b2 .c1 .p2 {
    font-family: "Mjunegull-regular";
    color: white;
    font-size: 3.5vw;
    text-align: center;
  }
  .maincontent .heading {
    width: 100%;
    padding: 0 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .maincontent .heading .headingp {
    color: #333333;
    font-size: 6vw;
    font-family: "Manrope-Medium";
    width: 100%;
    text-align: center;
    margin-bottom: 3vw;
  }
  .maincontent .heading .headingp2 {
    color: #7e7e7e;
    font-size: 3.5vw;
    font-family: "Manrope-Medium";
    width: 100%;
    text-align: center;
    margin-bottom: 4vw;
  }
  .container2 {
    height: 15vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 1vw;
  }
  .container2 .a1 {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    animation: scrolling 10s linear infinite;
    animation-play-state: running;
  }
  .container2 img {
    height: 100%;
  }

  .photobanner {
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    white-space: nowrap;
  }
  .container2 .banner1 {
    animation: bannermove 140s linear infinite;
  }
  .container2 .banner2 {
    animation: bannermove2 100s linear infinite;
  }
  .container2 .banner3 {
    animation: bannermove 190s linear infinite;
  }

  .photobanner img {
    border-radius: 0.5vh;
    margin: 0 0.5vw;
    height: 100%;
  }

  @keyframes bannermove {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-50%, 0);
    }
  }
  @keyframes bannermove2 {
    0% {
      transform: translate(-77%, 0);
    }
    100% {
      transform: translate(-26.9%, 0);
    }
  }

  .container3 {
    display: none;
  }
  .container32 {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .container32 .heading .headingp {
    color: #333333;
    font-size: 2.5vh;
    font-family: "Manrope-Medium";
    margin-top: 4vw;
    /* margin-bottom: 4vw; */
  }
  .container32 .a1,
  .container32 .a2 {
    display: none;
  }
  .container32 .a1,
  .container32 .a2 {
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    width: 100%;
  }
  .container32 .b1,
  .container32 .b2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;
  }
  .container32 .image1 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.5s ease-in-out;
    opacity: 0.48;
    top: 0;
    left: 0;
  }
  .container32 .b1 .div,
  .container32 .b2 .div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .container32 .b1 .div img,
  .container32 .b2 .div img {
    width: 50%;
  }
  .container32 .heading {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 3vw;
    margin-top: 4vw;
  }
  .container32 .a1 .description,
  .container32 .a2 .description {
    position: absolute;
    display: flex;
    z-index: 1;
    top: 100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition-delay: 1s;
    transition: all 0.5s ease-out;
    opacity: 0;
    text-align: center;
    padding: 0 3vw;
    cursor: pointer;
  }
  .container32 .a1 .description .p1,
  .container32 .a2 .description .p1 {
    z-index: 1;
    font-size: 5vw;
    padding-top: 5%;
    margin-bottom: 0.5vw;
    font-family: "Manrope-Bold";
  }
  .container32 .a1 .description .p2,
  .container32 .a2 .description .p2 {
    z-index: 1;
    font-size: 4vw;
    margin-bottom: 2vw;
    font-family: "Manrope-Medium";
  }
  .container32 .a1 .description .p4,
  .container32 .a2 .description .p4 {
    z-index: 1;
    font-size: 3vw;
    opacity: 0.7;
    margin-top: 10vw;
  }
  .container32 .a1 .description .p3,
  .container32 .a2 .description .p3 {
    font-size: 3vw;
  }
  .container32 .a1 .b1:hover .description,
  .container32 .a2 .b1:hover .description,
  .container32 .a1 .b2:hover .description,
  .container32 .a2 .b2:hover .description {
    top: 0;
    opacity: 1;
  }
  .container32 .a1 .b1:hover .div img,
  .container32 .a2 .b1:hover .div img,
  .container32 .a1 .b2:hover .div img,
  .container32 .a2 .b2:hover .div img {
    z-index: 1;
    transform: scale(0.8);
    opacity: 0;
  }
  .container32 .a1 .b1:hover .image1,
  .container32 .a2 .b1:hover .image1,
  .container32 .a1 .b2:hover .image1,
  .container32 .a2 .b2:hover .image1 {
    transform: scale(1.2);
  }
  .footer {
    margin-top: 5vw;
    height: 100vw;
  }
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
  .container {
    margin: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  ul {
    list-style: none;
  }
  .footer {
    background-color: #24262b;
    padding: 5vw;
  }
  .footer-col {
    width: 50%;
    padding: 0 1vw;
    margin-bottom: 3vw;
  }
  .footer-col h4 {
    font-size: 5vw;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 4vw;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1vw;
    background-color: #6a94e0;
    height: 0.8vw;
    box-sizing: border-box;
    width: 10vw;
  }
  .footer-col ul li {
    margin-bottom: 2vw;
    margin-left: -2vw;
  }
  .footer-col ul li a {
    font-size: 4vw;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 0.54vw;
  }
  .footer-col .social-links a {
    display: inline-block;
    height: 7vw;
    width: 7vw;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 2vw 2vw 0;
    text-align: center;
    line-height: 2.7vw;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
  }

  @media (max-width: 51vw) {
    .footer-col {
      width: 50%;
      margin-bottom: 2.03vw;
    }
  }
  @media (max-width: 38.8vw) {
    .footer-col {
      width: 100%;
    }
  }
  .login-logout {
    position: absolute;
    /* height: calc(var(--index) * 3 5); */
    height: 90vw;
    width: 80%;
    display: flex;
    background-color: white;
    border-radius: calc(var(--index) * 1.5);
    overflow: hidden;
    box-shadow: 0 0 2vw rgb(0, 0, 0, 0.2);
  }
  .login-logout * {
    color: #333333;
  }
  .login-logout .a1 {
    width: 0;
    height: 0;
  }
  .login-logout .a2 {
    width: 100%;
    height: 100%;
  }
  .login-logout .a2 {
    display: flex;
    flex-direction: column;
    padding: calc(var(--index) * 1.4);
  }
  .login-logout .b1 {
    width: 100%;
    display: flex;
    justify-content: end;
    font-size: calc(var(--index) * 1);
    cursor: pointer;
  }
  .login-logout .a2 .b1 span {
    font-size: 8vw;
  }
  .login-logout .b2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .login-logout .a2 form {
    margin-top: calc(var(--index) * 1);
  }
  .login-logout .a2 .b2 h1 {
    font-size: 7vw;
    margin-bottom: calc(var(--index) * 0.3);
  }
  .login-logout .a2 form h3 {
    font-size: 4vw;
    margin-bottom: calc(var(--index) * 0.25);
  }
  .login-logout .a2 form input {
    font-size: 4vw;
    height: 8vw;
    border-radius: 1vw;
    border-style: double;
    border-width: 1px;
    padding: calc(var(--index) * 0) calc(var(--index) * 1);
    margin-bottom: 2vw;
    width: 100%;
    outline: none;
  }
  .login-logout .a2 form .but1 {
    border-radius: 1vw;
    border-width: 1px;
    font-size: 4vw;
    height: 7vw;
    margin-top: calc(var(--index) * 0.8);
  }
  .login-logout form .separator .sep {
    width: 90%;
  }
  .login-logout form .separator p {
    font-size: 4vw;
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    background-color: white;
    z-index: 1;
    padding: 0 calc(var(--index) * 0.7);
    color: #919191;
  }
  .login-logout .a2 .b2 .but2 {
    font-size: 4vw;
  }
  .login-logout .a3 {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: calc(var(--index) * 1.4);
  }
  .login-logout .a3 .b1  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: calc(var(--index) * 1);
    cursor: pointer;
  }
  .login-logout .a3 .b1 span {
    font-size: 8vw;
    background-color: transparent;
    border-radius: 100%;
  }
  .login-logout .a3 .b1 span:hover {
    background-color: rgb(227, 227, 227);
  }
  .login-logout .a3 .b2 h1 {
    font-size: 6vw;
    margin-bottom: calc(var(--index) * 0.3);
  }
  .login-logout .a3 form {
    margin-top: calc(var(--index) * 1);
  }
  .login-logout .a3 form h3 {
    font-size: 4vw;
    margin-bottom: calc(var(--index) * 0.25);
  }
  .login-logout .a3 form input {
    font-size: 4vw;
    height: 8vw;
    border-radius: calc(var(--index) * 0.25);
    border-style: double;
    border-width: 1px;
    padding: calc(var(--index) * 0) calc(var(--index) * 1);
    margin-bottom: calc(var(--index) * 0.6);
    width: 100%;
    outline: none;
  }
  .login-logout .a3 form input:focus {
    border-color: var(--color4);
    border-width: 2px;
  }
  .login-logout .a3 form .but1 {
    border-radius: 1vw;
    border-width: 1px;
    font-size: 4vw;
    height: 7vw;
    margin-top: calc(var(--index) * 0.8);
  }
}
